/* css é praticamente a mesma coisa que o do projetoenem*/

:root{
    --bg: #ffffff;
    --card: #ffffff;
    --accent: #60a5fa;
    --accent-2: #6ee7b7;
    --muted: #f7f8fa;
    --glass: rgb(250, 241, 241);
    --radius: 12px;
    --maxw: 1100px;
  }
  
* {
    box-sizing:border-box;
    font-family:Inter,system-ui,-apple-system,Segoe UI,Roboto,"Helvetica Neue",Arial;
    color:#ffffff
}

#form {
    padding-left: 10px;
}

#descricao, #titulo {
    background-color: #ffffff;
    color: black;
}


#descricao::placeholder {
    color: #aaa2a2;
}

#titulo::placeholder {
    color: #aaa2a2;
}

html,body {
    height:100%;
    background: radial-gradient(1200px 600px at 10% 10%, rgba(96,165,250,0.06), transparent 5%),
    linear-gradient(180deg,#434440 0%, #ffffff 100%);
    -webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
}
  
button {
    background: var(--accent);
    border: none;
    padding: 10px 16px;
    border-radius: var(--radius);
    cursor: pointer;
    font-weight: 700;
    margin-right: 10px;
    transition: all 0.2s;
  }
  
button:hover {
    background: var(--accent-2);
  }


/* ainda tentando me virar no css, bgl chato. por mais que eu use sim o bootstrap, acho melhor eu tentar valorizar um pouco o css e aprender as manhas com ele.